body {
	font-family: 'Russo One', sans-serif;
}

.Header{
	background-image: url("../img/header-img.jpg");
	background-size: cover;
	width: 100%;
	height: 570px;
}

.Header h1 {
	color: #fff;
	font-size: 6.5em;
	margin: 0;
}

.Header h2{
	margin-top: 20px;
	color: #8e8e8e	;
	font-size: 3em;
	margin: 15;
}
.Header h2 span {
	color: #b18400;
}
.Header__content {
	margin-top: 140px;
	padding: 30px 0;
	background-color: rgba(0, 0, 0, 0.57);
}

.Img-details{
	background-color: #820000;
	color: #fff;
	padding: 10px 0;
}

.Img-details p {
	margin: 0;
	margin-left: 20px;
}

.Content {
	height: 400px;
	margin: 20px 0;
}

.Content li {
	margin: 20px 0;
	font-size: 1.1em;
}
.Content h4 {
	margin-top: 40px;
}

footer{
	margin-top: 20px;
	padding: 40px 0;
	background-color: #b18400;
	color: #fff;
}